#!/usr/bin/env bash

export PATH="${PWD}/scripts:${PATH}"

export MYSQL_ROOT_PASSWORD="Giraff3Lem0nTree"
export MYSQL_DATABASE="testdb"
export MYSQL_USER="devuser"
export MYSQL_PASSWORD="Tr0ub4d3!K1ng"
export MYSQL_PORT="12201"

export MYSQL_DATABASE_DSN="${MYSQL_USER}:${MYSQL_PASSWORD}@tcp(127.0.0.1:${MYSQL_PORT})/${MYSQL_DATABASE}"
